<% include ../partials/head %>
<div class="wrapper--flex">
	<% include ../partials/header %>
	<% include ../partials/nav %>
</div>
<main>
	<section class="hero">
		bla bla
	</section>
</main>
<% include ../partials/after-footer %>