<% include ../partials/head %>
<div class="wrapper--flex">
	<% include ../partials/header %>
	<% include ../partials/nav %>
</div>
<main>
	<section class="page">
		<div class="gallery">
			<img src="" alt="" class="gallery__large">
			<img src="" alt="" class="gallery__small">
			<img src="" alt="" class="gallery__small">
			<img src="" alt="" class="gallery__small">
		</div>
		<a href="/oste">Tilbage til Oste</a>
		<h1></h1>
		<p></p>
		<p></p>
		<table>
			<tr>
				<th>Land</th>
				<td><span class="country"></span></td>
			</tr>
			<tr>
				<th>Vægt</th>
				<td><span class="weight"></span>g</td>
			</tr>
			<tr>
				<th>Pris</th>
				<td><span class="price"></span></td>
			</tr>
		</table>
	</section>
</main>

<script src="/assets/javascript/get-product.js" type="module"></script>

<% include ../partials/after-footer %>