<% include ../partials/head %>
<div class="wrapper--flex">
	<% include ../partials/header %>
	<% include ../partials/nav %>
</div>
<main>
	<section class="page">
		<h1>Produktkategori</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
			impedit iste voluptas aut quod labore inventore similique illo recusandae
			voluptatem praesentium in modi, minus cumque tenetur ipsam sunt quas?</p>
			
			<ul class="cardList">
				
			</ul>
	</section>
</main>

<template id="cardTemplate">
	<li>
		<article class="cardList__card">
			<img src="" alt="">
			<h1></h1>
			<p></p>
			<a href="">Læs mere</a>
		</article>
	</li>
</template>

<script src="/assets/javascript/get-products.js"></script>

<% include ../partials/after-footer %>