<% include ../partials/head %>
<div class="wrapper--flex">
	<% include ../partials/header %>
	<% include ../partials/nav %>
</div>
<main>
	<section class="page">
		<h1>Produktkategori</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
			impedit iste voluptas aut quod labore inventore similique illo recusandae
			voluptatem praesentium in modi, minus cumque tenetur ipsam sunt quas?</p>
			
			<ul class="cardList">
				<li>
					<article class="cardList__card">
						<img src="https://via.placeholder.com/220x170" alt="">
						<h1>Produktnavn</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
							amet earum inventore doloribus harum praesentium architecto neque id
							dolore doloremque quia obcaecati accusamus nobis sed delectus.</p>
						<a href="/ost/?sku=234">Læs mere</a>
					</article>
				</li>
				<li>
					<article class="cardList__card">
						<img src="https://via.placeholder.com/220x170" alt="">
						<h1>Produktnavn</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
							amet earum inventore doloribus harum praesentium architecto neque id
							dolore doloremque quia obcaecati accusamus nobis sed delectus.</p>
						<a href="/ost/?sku=234">Læs mere</a>
					</article>
				</li>
				<li>
					<article class="cardList__card">
						<img src="https://via.placeholder.com/220x170" alt="">
						<h1>Produktnavn</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
							amet earum inventore doloribus harum praesentium architecto neque id
							dolore doloremque quia obcaecati accusamus nobis sed delectus.</p>
						<a href="/ost/?sku=234">Læs mere</a>
					</article>
				</li>
			</ul>
	</section>
</main>
<% include ../partials/after-footer %>