@import "variables";

nav {
	background-color: $primaryColor;
	line-height: 3em;
	width: 50%;
	ul {
		display: flex;
		list-style: none;
		justify-content: flex-end;
		margin: 0;
		li {
			padding: 0 2em;
			a {
				color: $secondaryColor;
				text-decoration: none;
			}
		}
	}
}